.payform {
    border-radius: 5px;
    background-color: rgb(92, 171, 50);
    height:auto;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 200px;
    align-items: center;
    justify-content:center;
}
.inputcont{
    margin-top: 20px;
}
.inputcont> input{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 40px;
    border-radius: 5px;
}
.inputcont > label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.headingforpayment{
    margin-top: 100px;
    text-align: center;
}
.inputcont > button{
    color: rgb(0, 0, 0);
    background-color: rgb(18, 79, 140);
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-left: 15%;
    margin-bottom: 10px;
}
.phinp{
    margin-bottom: 20px;
    width: 300px;
    border-radius: 5px;
}