@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: rgb(25, 125, 213);
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 100px;
	background-color: var(--mainColor);
	color: var(--textColor);
    position: sticky;
    top: 0;
}


.navitems{
    margin-left: 20%;
}

.navitems p {
    margin: 0 50px;
	color: black;
	font-weight: 500;
	text-decoration: none;
    font-size: x-large;
}

.navitems p:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,.navitems {
	display: flex;
	align-items: center;
}


.catstyle {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    border-radius: 10px;
    width: 200px;
    position: absolute;
    top: 80px; 
    left: 52%;
    background: #f5deb3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
}

.catlist {
    padding: 0;
    margin: 0;
}

.catlist li {
    list-style: none;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 128, 0, 0.3); 
    font-size: 16px;
    font-weight: 500;
    color: #333;
    transition:  0.3s, color 0.3s;
    cursor: pointer;
}

.catlist li:last-child {
    border-bottom: none;
}

.catlist li:hover {
    background: green;
    color: white;
    border-radius: 5px;
}

.logoandname > img{
    height: 50px;
}

.logoandname{
    display:flex;
    word-spacing: 5px;
    margin: 10px;
}

.name{  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: 500;
    color: white;
}
.store{
    font-size: x-large;
    margin-left: 3px;
    color: rgb(0, 0, 0);
}



@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header .open-btn{
		margin-left: 50px;
		margin-top: 10px;
	}

	header .navitems {
		position: fixed;
		top: -90vh;
		margin-right: 100px;
		right:0;
		height: 50%;
		width: 40%;
		display: flex;
		text-align: center;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--mainColor);
		transition: 0.01s;
		border-radius: 10px;
		gap: 15px;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	.navitems .nav-close-btn {
		color: red;
	}

	.navitems a {
		font-size: 1.5rem;
	}

    .catstyle {
        justify-content: center;
        left:-210px;
    }
	
    
}